<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2><strong>Name:</strong>&nbsp<%= @restaurant.name %></h2>

<h4><strong>Location:</strong>&nbsp<%= @restaurant.location %></h4>


<table>
  <thead>
    <tr>
      <th>Will split</th>
      <th colspan="2"></th>
      <th>Won't split</th>
    </tr>
  </thead>
  <tr>
    <td><%= @restaurant.willSplit = restaurant.willSplit%></td>
    <td colspan="2"></td>
    <td><%= restaurant.wontSplit %></td>
  </tr>
  <tr class="action">
    <td><%= link_to '<button type="button">Vote will Split</button>'.html_safe, submitVote_path(restaurant) %> </td>
    <td colspan="2"></td>
    <td><%= link_to '<button type="button">Vote wont Split</button>' %></td>
  </tr>
</table>


<% end %>
