<p id="notice"><%= notice %></p>

<h1>Restaurant List</h1>
<div>
  <%= link_to '<button type="button">View Total Vote History</button>'.html_safe, votes_path %>
  <% if user_signed_in? %>
  &nbsp
    <%= link_to '<button type="button">User Dashboard</button>'.html_safe, userHistory_path %>
  <% end %> <br>
</div>

<div class="restaurant_table">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.location %></td>
          <td><%= link_to 'View', restaurant %></td>
          <td><%= link_to 'Stats', stats_path(restaurant) %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Vote', vote_cast_path(restaurant) %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>
