<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<table>

  </thead>
  <h2>Comments</h2>
  <tbody>
    <% @comments = Comment.all %>
    <% @comments.each do |comment| %>
      <% if comment.restaurantID == @restaurant.id %>
        <div>
          <h3><%= comment.title %></h3>
          <p><%= comment.content %></p>
        </div>
      <% end %>
    <% end %>
  </tbody>

<%= link_to 'Back', restaurants_path %>
<% if user_signed_in? %>
  <%= link_to 'Leave Comment', createComment_path %>
  <%= link_to 'Add To Favorites', addFavorite_path(@restaurant) %>
<% end %>
