<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Willsplit:</strong>
  <%= @restaurant.willSplit %>
</p>

<p>
  <strong>Wontsplit:</strong>
  <%= @restaurant.wontSplit %>
</p>

<%= link_to 'Back', restaurants_path %>
