<h1>Your Dashboard</h1><br>

<p id="notice"><%= notice %></p>

<div>
  <%= link_to '<button type="button">Restaurant List</button>'.html_safe, restaurants_path %>
</div>
<div class="historyTable">
  <h2>Votes</h2>
  <table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Restuarant</th>
        <th>Votecast</th>
      </tr>
    </thead>

    <tbody>
      <% votes = Vote.all %>
      <% votes.each do |vote| %>
        <% if vote.userID == current_user.id %>
          <tr>
            <td><%= vote.userID %></td>
            <td><%= Restaurant.find(vote.restaurantID).name %></td>
            <td><%= vote.voteCast %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="favoriteTable">
  <h2>Favorites</h2>

  <table>
    <thead>
      <tr>
        <th>Userid</th>
        <th>Restaurantid</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @favorites = Favorite.all %>
      <% @favorites.each do |favorite| %>
        <% if favorite.userID == current_user.id %>
          <tr>
            <td><%= favorite.userID %></td>
            <td><%= Restaurant.find(favorite.restaurantID).name %></td>
            <td><%= link_to 'Remove', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="commentPanel">
  <h2>Comments</h2>
    <tbody>
      <% comments = Comment.all %>
      <% comments.each do |comment| %>
        <% if comment.userID == current_user.id %>
          <div class="commentContainer">
            <h2><%= Restaurant.find(comment.restaurantID).name %></h2>
            <h3><%= comment.title %></h3>
            <p><%= comment.content %></p>
            <%= link_to 'Edit', edit_comment_path(comment) %></td>
            <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      <% end %>
    </tbody>
</div>
