<p id="notice"><%= notice %></p>

<h1>Your Vote History</h1>

<table>
  <thead>
    <tr>
      <th>Restuarantid</th>
      <th>Votecast</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.restaurantID %></td>
        <td><%= vote.voteCast %></td>
        <td><%= vote.created %></td>
        <td><%= link_to 'Show', vote %></td>
        <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
        <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path %>
<%= link_to 'Back To Restaurant Index', restaurants_path %>
