<p id="notice"><%= notice %></p>

<h1>Votes</h1>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Restuarant ID</th>
      <th>Votecast</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.userID %></td>
        <td><%= vote.restaurantID %></td>
        <td><%= vote.voteCast %></td>
        <td><%= link_to 'Show', vote %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back To Restaurant Index', restaurants_path %>
