<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Will Split Votes:</strong>
  <%= @upVotes %>
</p>

<p>
  <strong>Won't Split Votes:</strong>
  <%= @downVotes %>
</p>
<%= link_to 'Back', restaurants_path %>
