<!DOCTYPE html>
<html class="background">
  <head>
    <title>SplitTheCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header class="main">
      <div id="log">
        <% if !current_user %>
          <%= link_to "Sign Up", new_user_registration_path %> &nbsp
          <%= link_to "Sign In", new_user_session_path %>
        <% else %>
          <P> <%= current_user.email %> is signed in.
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </p>
        <% end %>
      </div>
      <h1>Split The Check</h1>
      <h2>An online listing of restaurants' check spliting stats</h2>
    </header>
    <main class="<%= controller.controller_name %>">
      <!--<p class="notice"><%= notice %></p>-->
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
