<!DOCTYPE html>
<html>
  <head>
    <title>SplitTheCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <h1>Split The Check</h1>
      <h2>An online listing of restaurants' check spliting stats</h2>
    </header>
    <main class="<%= controller.controller_name %>">
      <%= yield %>
    </main>
  </body>
</html>
